form{
    margin: 0 auto;
    width: 500px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

input{
    padding: 0.5em;
    margin-right: 20px;
    border: 1px solid #999;
    border-radius: 0.3em;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 20px 0;
  font-size: 1em;
  font-family: Arial, sans-serif;
}

th {
  background-color: #4285f4;
  color: white;
  text-align: left;
  padding: 12px;
}

td {
  border: 1px solid #ddd;
  padding: 12px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

a {
  color: #4285f4;
  text-decoration: none;
}

.best_price {
  color: #4285f4;
  font-weight: bold;
}